.content-mobile[data-v-39373930] {
  padding-bottom: 2.5rem;
  padding-top: var(--header-h);
}
.content-item[data-v-39373930],
.content-mobile[data-v-39373930] {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.content-item[data-v-39373930] {
  align-items: center;
}
.content-item-accordion[data-v-39373930] {
  width: 100%;
}
.panel-item[data-v-1356be5e] {
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  padding: 0.5rem 1.5rem;
  transition-duration: 0.3s;
}
.panel-item.active[data-v-1356be5e] {
  border-color: currentColor !important;
}
.panel-item.default[data-v-1356be5e] {
  border-color: transparent;
  border-radius: 0.5rem;
  border-width: 1px;
  font-size: 2rem;
}
.panel-item.default[data-v-1356be5e]:hover {
  border-color: currentColor;
}
@media (min-width: 920px) {
  .panel-item.default[data-v-1356be5e] {
    font-size: 2.25rem;
  }
}
.panel-item.small[data-v-1356be5e] {
  font-size: 1.25rem;
  line-height: 1.5;
}
.panel-item.small[data-v-1356be5e]:hover {
  --tw-translate-x: 0.75rem;
  transform: translate(0.75rem, var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.accordion-body-enter-active[data-v-62784a99],
.accordion-body-leave-active[data-v-62784a99] {
  overflow: hidden;
  transition:
    height 0.3s ease,
    opacity 0.3s ease;
  will-change: height, opacity;
}
.accordion-body-enter[data-v-62784a99],
.accordion-body-leave-to[data-v-62784a99] {
  height: 0 !important;
}
