.formatted p {
  margin-bottom: 1.5rem;
}
.formatted p:last-child {
  margin-bottom: 0;
}
.formatted b,
.formatted strong {
  font-weight: 700;
}
.formatted ul {
  list-style-type: disc;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1.25rem;
}
.formatted ul:first-child {
  margin-top: 0;
}
.formatted ul:last-child {
  margin-bottom: 0;
}
.formatted li {
  margin-bottom: 0.5rem;
}
.margins-all[data-v-e7e61232] {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
@media (min-width: 920px) {
  .margins-all[data-v-e7e61232] {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}
.margins-top[data-v-e7e61232] {
  margin-top: 3rem;
}
@media (min-width: 920px) {
  .margins-top[data-v-e7e61232] {
    margin-top: 6rem;
  }
}
.margins-bottom[data-v-e7e61232] {
  margin-bottom: 3rem;
}
@media (min-width: 920px) {
  .margins-bottom[data-v-e7e61232] {
    margin-bottom: 6rem;
  }
}
.margins-none[data-v-e7e61232] {
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 920px) {
  .margins-none[data-v-e7e61232] {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.margins-small[data-v-e7e61232] {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.round-all[data-v-e7e61232] {
  border-radius: 1rem;
}
.round-top[data-v-e7e61232] {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.round-bottom[data-v-e7e61232] {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.section-bg-light[data-v-e7e61232] {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #fff;
  color: #0f0f0f;
}
@supports (color: #172C42/0)) and (top: var(--f)) {
  .section-bg-light[data-v-e7e61232] {
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    color: rgb(15 15 15 / var(--tw-text-opacity));
  }
}
.section-bg-accent[data-v-e7e61232] {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #3B7A3C;
  color: #fff;
}
@supports (color: #172C42/0)) and (top: var(--f)) {
  .section-bg-accent[data-v-e7e61232] {
    background-color: #3B7A3C / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}
.paddings-default[data-v-e7e61232] {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
@media (min-width: 920px) {
  .paddings-default[data-v-e7e61232] {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}
.paddings-small[data-v-e7e61232] {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
@media (min-width: 920px) {
  .paddings-small[data-v-e7e61232] {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
.is-boxed[data-v-e7e61232] {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 920px) {
  .is-boxed[data-v-e7e61232] {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
